<script type="text/javascript">

    // document.getElementById("action-print-view").addEventListener("click", printView);

    // function printView(event) {
    //    event.preventDefault();
    //    window.print();
    // }

    // function printCertificate() {
    //     document.getElementById("action-print-view").style.display = "none";
    //     window.print();
    //     document.getElementById("action-print-view").style.display = "block";
    // }

    function printCertificate() {
        alert("Print click platform")
        // document.getElementById("action-print-view").style.display = "none";
        let x = document.getElementById("action-print-view");
        x.style.display = "none";
        window.print();
        // document.getElementById("action-print-view").style.display = "block";
        x.style.display = "block";
    }

</script>
