.section-heading {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    color: var(--font-color1);
    font: inherit;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 100%;
    box-sizing: border-box;
    padding-left: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 1300px;
}

/* .collapsible-course-description {
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.25);
} */
.section-break {
    border: 1px solid;
    border-color: var(--font-color1);
    width: 100%;
    max-width: 21.75rem;
    margin: 60px auto;
    height: 0;
    padding: 0 1.25rem;
}