@value variables: "./../../global.css";
@value eden-gray, white2 from variables;

.unitboard-search {
    margin-bottom: 40px;
    position: relative;
}

.unitboard-search label {
    font-style: normal !important;
    letter-spacing: 1px;
    text-shadow: none;
    color: var(--font-color1) !important;
}

.unitboard-search label + div:before {
    border-color: eden-gray !important;
}

.unitboard-search label + div:after {
    border-color: white !important;
}

.unitboard-search label + div:before,
.unitboard-search label + div:after {
    border-width: 1px !important;
}

.search-field {
    width: 100%;
}

.search-field input {
    padding-right: 50px;
    letter-spacing: 1px;
    color: var(--text-input-color);
}

.search-btn {
    position: absolute !important;
    right: 0;
    top: 22px;
    min-width: 0 !important;
    padding: 0 !important;
    color: #9197ab !important;
}

.search-btn:hover,
.search-btn:active,
.search-btn:focus {
    background: none !important;
}

.search-btn svg {
    width: 20px;
    height: 20px;
}

.search-title {
    font-size: 24px !important;
    font-weight: 600 !important;
    margin-bottom: 20px !important;
}

.no-results {
    color: white2;
}
